./data/
#
# Vim
#

# Ignore "backup" files which vim and emacs commonly create
*~

# Vim creates swapfiles for open files; ignore these
.*.swp

#
# Data
#

data
.*.dat


bin/SQLsnashopordercomb.dat
bin/*.dat
