./data/
#
# Vim
#

# Ignore "backup" files which vim and emacs commonly create
*~

# Vim creates swapfiles for open files; ignore these
.*.swp

#
# Data
#

data/*
bin/Tests/*.dat
bin/Tests/*.png


bin/SQLsnashopordercomb.dat
bin/*.dat
